body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #01aff0;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header div {
    display: flex;
    flex-direction: end;
    justify-content: end;
    align-items: center;
    width: 100%;
}

header div button {
    margin: 0;
}

/* nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #01aff0;
} */

main {
    background-color: #fff;
    padding: 20px;
}

/* button {
    background-color: #01aff0;
    box-shadow: 0 2px 5px #00608d;
    margin: 0 10px 10px 10px;
    border: none;
    width: 110px;
    height: 25px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.bot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: none;
    margin: 0 10px 10px 10px;
    border: 1px solid #01aff0;
    width: 140px;
    height: 25px;
    border-radius: 20px;
    color: #01aff0;
    cursor: pointer;
}

.bot span {
    width: 13px;
    height: 13px;
    margin: 5px;
}

.bot span img {
    width: 90%;
} */

.topo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background: linear-gradient(#fff, #ccc8c8);
}

.painel-topo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 35%;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.painel-topo img {
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.conteudo-sobre-01 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-sobre-02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.painel-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 20px;
}

.painel-sobre img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    gap: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 0.5vw; 
    width: 22%;
    flex: 0 0 auto;
       
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    box-shadow: 0 2px 5px #00608d;
    cursor: pointer;
}

section {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}